<!DOCTYPE html>
<html>
  <head>
    <h2> WELCOME </h2>
  </head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/css/style.css" rel="stylesheet">
  <body>
  	<div class="row">
  		<div class="col-md-12">
  			<img src="stylesheets/img/index.jpeg">
  		</div>
    </div>
        <div class="row">
  	    <div class="col-md-12">
          <h2>Login form</h2>
           
           UserName:<input type="text" placeholder="name" name="username">
           Password:<input type="text" placeholder="password" name="password">
         </div>
       
        <a href="/users/login"> <button type="submit" class="btn btn-primary" >Add Product</button></a>
        <a href="/users"><button type="submit" class="btn btn-primary">SignUp</button></a>
     
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>