<!Doctype html>
 <html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/css/style.css" rel="stylesheet">
    <body>
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<img src="/stylesheets/img/glasses.jpg" class="img-rounded">
    				<img src="/stylesheets/img/watches.jpg" class="img-rounded">
                </div>
             </div>
                <div class="row">
                <div class="col-md-6">
                    <img src="/stylesheets/img/gloss.jpg" class="img-rounded">
                    <img src="/stylesheets/img/mc.jpg" class="img-rounded">
                </div>
            </div>

    	</div>

    <script src="https://ajax.googleapis. com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script src="js/bootstrap.min.js"></script>
    </body>
  </html>
