<!Doctype html>
	<html>
	 <head>
	 	<h3><b>Registration Form</b></h3>
	 </head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
		<link href="stylesheets/css/style.css" rel="stylesheet">
	    <body>
	    	<div class="container">
	    		<form method="POST" action="/users">
	    		<div class="row">
	    		<div class="col-md-12">
	    		 Firstname:<input type="text" placeholder="firstname" name="name.first" class="f"><br>
	    		 Lastname:<input type="text" placeholder="lastname" name="name.last" class="l"><br>
	    		 UserName:<input type="text" placeholder="username" name="username" class="u"><br>
	    		 Address:<input type="text" placeholder="address" name="address.vicinity" class="a"><br>
	    		 City:<input type="text" placeholder="city" name="address.city" class="c"><br>
	    		 State:<input type="text" placeholder="state" name="address.state" class="s"><br>
	    		 Pincode:<input type="text" placeholder="pincode" name="address.pincode" class="p"><br>
	    		 Email:<input type="text" placeholder="email" name="email" class="e"><br>
	    		 Password:<input type="text" placeholder="password" name="password" class="pass"><br>
	    		 <button type="submit" class="btn btn-primary">Submit</button>
	    		</div>
	    	</div>
	    	</form>
	    	</div>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
        <script src="js/bootstrap.min.js"></script>
	    </body>
	</html>